<h1>Edit User</h1>

<%= form_for @user do |f| %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

  Username: <%= f.text_field :username %>
  Email: <%= f.email_field :email, placeholder: 'Enter email' %>
  Password: <%= f.password_field :password, placeholder: 'Enter password' %>
  <%= f.submit "Submit" %>
<% end %>
